.articleWrapp {
  padding: 10px;
  max-width: 941px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 22px;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
  .articleDesraption {
    background-color: rgba(255, 255, 255, 1);
    padding-left: 5px;
  }
}

.articleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;

  padding: 10px 5px;
  .articleInfo {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    min-width: 220px;
    .titleWrap {
      display: flex;
      align-items: center;
      button {
        border: none;
        background-color: white;
        margin-top: 5px;
      }
      .title {
        margin-right: 10px;
      }
      .img {
        margin-right: 5px;
        margin-top: 3px;
      }
    }
    .tagWrap {
      margin-top: 7px;
    }

    .tagWrap span {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 3px;
      border-radius: 3px;
      text-align: center;
      font-size: 12px;
      margin-right: 3px;
    }
  }
  .title {
    font-size: 20px;
    a {
      color: rgba(24, 144, 255, 1);
    }
  }

  .authorInfo {
    display: flex;

    .author {
      display: flex;
    }

    .actionBtn button {
      width: 79px;
      height: 30px;
      border-radius: 5px;
      background-color: white;
      font-size: 14px;
      margin-top: 30px;
      cursor: pointer;
    }
    .btnDelete {
      color: red;
      border: 1px solid red;
      margin-right: 15px;
      text-align: center;
    }
    .btnEdit {
      color: rgba(82, 196, 26, 1);
      border: 1px solid rgba(82, 196, 26, 1);
      a {
        color: rgba(82, 196, 26, 1);
      }
    }
    .nameData {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      .timePost {
        font-size: 12px;
        color: gray;
      }
    }
  }
  .authorInfoOne {
    display: flex;
    flex-direction: column;
    .author {
      display: flex;
    }

    .actionBtn {
      display: flex;
    }
    .actionBtn button {
      width: 79px;
      height: 30px;
      border-radius: 5px;
      background-color: white;
      font-size: 14px;
      margin-top: 30px;
      cursor: pointer;
    }
    .btnDelete {
      color: red;
      border: 1px solid red;
      text-align: center;
    }
    .btnEdit {
      color: rgba(82, 196, 26, 1);
      border: 1px solid rgba(82, 196, 26, 1);
      margin-left: 10px;
      a {
        color: rgba(82, 196, 26, 1);
      }
    }
    .nameData {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      font-size: 18px;
      .timePost {
        font-size: 12px;
        color: gray;
      }
    }
  }
}
.paginationArticle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
