.appWrapper {
  display: grid;
  width: 100%;
  grid-template-areas:
    "h"
    "c";
  margin: 0 auto;
  background-color: rgba(235, 238, 243, 1);
}
.appWrapperContent {
  padding-top: 40px;
  grid-area: c;
}
