$header-color: rgba(255, 255, 255, 1);
$active-color: rgba(82, 196, 26, 1);

.header {
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-color;
  padding: 10px;
  font-size: 18px;
  .nameBlog a {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  h4 {
    line-height: 28px;
  }

  button {
    background-color: $header-color;
    border: 1px solid $active-color;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    span {
      font-size: 18px;
      color: black;
    }
  }
  .userPlace {
    display: flex;
    align-items: center;
    .creatArticle {
      margin-right: 15px;
      color: rgba(82, 196, 26, 1);
      span {
        color: rgba(82, 196, 26, 1);
      }
    }
    .username {
      margin-right: 10px;
      span {
        color: rgba(0, 0, 0, 0.85);
        font-size: 20px;
      }
    }
    .userPhoto {
      margin-right: 10px;
    }
    .logOut {
      border: 1px solid black;
    }
  }
}
